<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta charset="UTF-8">
    <title>开发日志</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../css/home.css" rel="stylesheet" type="text/css">
    <link href="../../css/admin.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="admin-block">
    <div class="admin-left">
        <h1><label>ITEDU</label></h1>
        <div class="admin-list">
            <ul>
                <a href="welcome.html"><li>仪表盘</li></a>
                <a href="devLog.html"><li class="list-active">开发日志</li></a>
                <a href="userInfo.html"><li>用户信息</li></a>
                <a href="setAn.html"><li>公告设置</li></a>
                <a href="setClassify.html"><li>分类设置</li></a>
                <a href="javascript:;" class="is-develop"><li>广告设置(研发中)</li></a>
                <a href="javascript:;" class="is-develop"><li>用户反馈(研发中)</li></a>
                <a href="javascript:;" class="is-develop"><li>权限设置(研发中)</li></a>
                <a href="javascript:;" class="is-develop"><li>群体私信(研发中)</li></a>
                <a href="javascript:;" class="is-develop"><li>关闭网站(研发中)</li></a>
                <a href="javascript:;" class="is-develop"><li>数据分析(研发中)</li></a>
            </ul>
        </div>
    </div>
    <div class="admin-right">
        <div class="jumbotron">
            <h1>开发日志</h1>
            <p>* 现在是2017-05-21 0:46 开发工作到了这个页面。他计划修改完这些页面就休息，鬼知道会到几点。</p>
            <p>* 现在是2017-05-21 16:36 尝试用ThinkPHP框架上传图片，一直提示找不到文件。</p>
            <p>* 现在是2017-05-23 0:54 网站初步建设完毕。纪念之</p>
        </div>
    </div>
</div>
<script src="../../js/common/jquery-1.11.2.min.js"></script>
<script src="../../js/common/bootstrap.min.js"></script>
<script src="../../js/common/layer/layer.js"></script>
<script src="../../js/common/dialog.js"></script>
<script src="../../js/admin/controllers/other.js"></script>
<script src="../../js/admin/controllers/admin.js"></script>
<script src="../../js/admin/controllers/common.js"></script>
</body>
</html>