<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../css/home.css" rel="stylesheet" type="text/css">
    <link href="../../css/admin.css" rel="stylesheet" type="text/css">
</head>
<body style="background:#eee">
<div class="jumbotron">
    <div class="container admin-login">
        <h1 class="text-center">Admin Login</h1>
        <input type="password" name="code" placeholder="COMMAND.." id="command">
    </div>
</div>
<script src="../../js/common/jquery-1.11.2.min.js"></script>
<script src="../../js/common/bootstrap.min.js"></script>
<script src="../../js/common/layer/layer.js"></script>
<script src="../../js/common/dialog.js"></script>
<script src="../../js/admin/controllers/admin.js"></script>
<script src="../../js/admin/views/login.js"></script>

</body>
</html>