<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta charset="UTF-8">
    <title>用户信息</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../css/home.css" rel="stylesheet" type="text/css">
    <link href="../../css/admin.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="admin-block">
    <div class="admin-left">
        <h1><label>ITEDU</label></h1>
        <div class="admin-list">
            <ul>
                <a href="welcome.html"><li>仪表盘</li></a>
                <a href="devLog.html"><li>开发日志</li></a>
                <a href="userInfo.html"><li class="list-active">用户信息</li></a>
                <a href="setAn.html"><li>公告设置</li></a>
                <a href="setClassify.html"><li>分类设置</li></a>
                <a href="javascript:;" class="is-develop"><li>广告设置(研发中)</li></a>
                <a href="javascript:;" class="is-develop"><li>用户反馈(研发中)</li></a>
                <a href="javascript:;" class="is-develop"><li>权限设置(研发中)</li></a>
                <a href="javascript:;" class="is-develop"><li>群体私信(研发中)</li></a>
                <a href="javascript:;" class="is-develop"><li>关闭网站(研发中)</li></a>
                <a href="javascript:;" class="is-develop"><li>数据分析(研发中)</li></a>
            </ul>
        </div>
    </div>
    <div class="admin-right">
        <div class="alert alert-info" role="alert">提示：目前暂不支持对用户进行操作，我们会在未来的版本进行更新。你可以通过数据库修改他们。</div>
        <div class="page-header">
            <h1>用户信息</h1>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>用户名</th>
                <th>昵称</th>
                <th>性别</th>
                <th>身份</th>
                <th>手机号</th>
                <th>E-mail</th>
                <th>注册时间</th>
            </tr>
            </thead>
            <tbody class="userInfo-table">
            </tbody>
        </table>
    </div>
</div>
<script src="../../js/common/jquery-1.11.2.min.js"></script>
<script src="../../js/common/bootstrap.min.js"></script>
<script src="../../js/common/layer/layer.js"></script>
<script src="../../js/common/dialog.js"></script>
<script src="../../js/admin/controllers/other.js"></script>
<script src="../../js/admin/controllers/user.js"></script>
<script src="../../js/admin/controllers/admin.js"></script>
<script src="../../js/admin/controllers/common.js"></script>
<script src="../../js/admin/views/userInfo.js"></script>
</body>
</html>