<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta charset="UTF-8">
    <title>仪表盘</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../css/home.css" rel="stylesheet" type="text/css">
    <link href="../../css/admin.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="admin-block">
    <div class="admin-left">
        <h1><label>ITEDU</label></h1>
        <div class="admin-list">
            <ul>
                <a href="welcome.html"><li class="list-active">仪表盘</li></a>
                <a href="devLog.html"><li>开发日志</li></a>
                <a href="userInfo.html"><li>用户信息</li></a>
                <a href="setAn.html"><li>公告设置</li></a>
                <a href="setClassify.html"><li>分类设置</li></a>
                <a href="javascript:;" class="is-develop"><li>广告设置(研发中)</li></a>
                <a href="javascript:;" class="is-develop"><li>用户反馈(研发中)</li></a>
                <a href="javascript:;" class="is-develop"><li>权限设置(研发中)</li></a>
                <a href="javascript:;" class="is-develop"><li>群体私信(研发中)</li></a>
                <a href="javascript:;" class="is-develop"><li>关闭网站(研发中)</li></a>
                <a href="javascript:;" class="is-develop"><li>数据分析(研发中)</li></a>
            </ul>
        </div>
    </div>
    <div class="admin-right">
        <button class="btn btn-danger float-right" id="logout">退出登录</button>
        <div class="jumbotron">
            <h1>你好，管理员</h1>
            <p>嗨，你知道吗？你拥有网站的最高权限！</p>
            <p>通过左侧的列表，你几乎可以操控网站的一切</p>
            <p>感谢网站开发者吧，他把一行行枯燥的代码变成了连傻瓜都能操作的界面</p>
            <p>在这个系统中，你的每一步操作都要小心。当然，重要的操作我们都给了你二次警告</p>
            <p>最后，请记住一定要感谢网站作者 Miyang 没有他也就没有这个网站</p>
            <p>你可以通过下面的按钮了解更多关于 Miyang 的信息</p>
            <p>愿风指引你的道路</p>
            <p><a class="btn btn-primary btn-lg" href="http://codermiya.com" role="button">前往 codermiya.com</a></p>
            <p><a class="btn btn-warning btn-lg" href="https://github.com/miya-yang" role="button">前往 github.com/miya-yang</a></p>
        </div>
    </div>
</div>
<script src="../../js/common/jquery-1.11.2.min.js"></script>
<script src="../../js/common/bootstrap.min.js"></script>
<script src="../../js/common/layer/layer.js"></script>
<script src="../../js/common/dialog.js"></script>
<script src="../../js/admin/controllers/other.js"></script>
<script src="../../js/admin/controllers/common.js"></script>
<script src="../../js/admin/controllers/admin.js"></script>
<script src="../../js/admin/views/welcome.js"></script>
</body>
</html>