<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>编辑博文</title>
    <script src="../../js/common/jquery-1.11.2.min.js"></script>
    <script src="../../js/common/marked.js"></script>
    <script src="../../js/common/ace.js"></script>
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../css/markdown.css" rel="stylesheet" type="text/css">
    <link href="../../css/edit.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="toolbar">
    <form>
        <button type="button" class="btn btn-danger btn-submit" id="submit-btn">发布</button>
        <div class="form-group">
            <input type="text" class="form-control edit-course-title" id="title" placeholder="请输入标题">
        </div>
    </form>
</div>
<div id="container">
    <div id="editor-column" class="pull-left"></div>
    <div id="preview-column" class="pull-right"></div>
</div>
<script src="../../js/common/jquery-1.11.2.min.js"></script>
<script src="../../js/common/bootstrap.min.js"></script>
<script src="../../js/common/layer/layer.js"></script>
<script src="../../js/common/dialog.js"></script>
<script src="../../js/home/controllers/blog.js"></script>
<script src="../../js/home/controllers/login.js"></script>
<script src="../../js/home/controllers/common.js"></script>
<script src="../../js/home/views/common.js"></script>
<script src="../../js/home/views/articleEdit.js"></script>
</body>
</html>