<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta charset="UTF-8">
    <title>课程管理</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../css/home.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav class="navbar-inverse header">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ITEDU</a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="../../index.html">首页</a></li>
                <li><a href="../course/courseList.html">课程</a></li>
                <li><a href="../bbs/bbs.html">论坛</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" id="nav-setting">
                <li><a href="javascript:;" id="login-btn">登录</a></li>
                <li><a href="../register.html">注册</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="shade"></div>
<div class="login-box">
    <h4>登录</h4>
    <a href="javascript:;" class="close-btn" id="login-close-btn"><span>×</span></a>
    <form>
        <div class="form-group">
            <label for="login-username">用户名</label>
            <input type="text" class="form-control" id="login-username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="login-password">密码</label>
            <input type="password" class="form-control" id="login-password" placeholder="Password">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> 下次自动登录
            </label>
        </div>
        <p class="login-tips" id="login-tips">&nbsp;</p>
        <div class="form-group">
            <button type="button" class="form-control btn btn-danger" id="login-in">登录</button>
        </div>
    </form>
</div>
<div class="alert" role="alert"></div>
<div class="container">
    <div class="setting">
        <div class="row container">
            <div class="col-lg-3 setting-nav">
                <h4>课程管理</h4>
                <hr>
                <ul>
                    <a href="setCourse.html" class="setting-btn-active"><li>我的课程</li></a>
                    <a href="edit.html"><li>发布课程</li></a>
                </ul>
            </div>
            <div class="col-lg-7 col-lg-offset-1 setting-panel">
                <h4>已发布的课程</h4>
                <hr>
                <table class="table table-hover table-course">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>课程名称</th>
                            <th>学习人数</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody class="courseList-table">
                        <!--<tr>-->
                            <!--<td>1</td>-->
                            <!--<td><a href="#">JavaScript入门</a></td>-->
                            <!--<td>2053</td>-->
                            <!--<td>-->
                                <!--<button type="button" class="btn btn-warning">编辑</button>-->
                                <!--<button type="button" class="btn btn-danger">删除</button>-->
                            <!--</td>-->
                        <!--</tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container footer-info-group text-center">
        <ul>
            <li><a href="../admin/login.html">管理员通道</a></li>
        </ul>
    </div>
</div>
<script src="../../js/common/jquery-1.11.2.min.js"></script>
<script src="../../js/common/bootstrap.min.js"></script>
<script src="../../js/common/layer/layer.js"></script>
<script src="../../js/common/dialog.js"></script>
<script src="../../js/home/controllers/course.js"></script>
<script src="../../js/home/controllers/login.js"></script>
<script src="../../js/home/controllers/common.js"></script>
<script src="../../js/home/controllers/bbs.js"></script>
<script src="../../js/home/views/common.js"></script>
<script src="../../js/home/views/setCourse.js"></script>
</body>
</html>